@{
	ViewData["Title"] = "Eve Login";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<a href="Eve/SignIn">
			<img class="img-fluid" src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-black-large.png" alt="" />
		</a>
	</div>
</div>