@model BovrilAuthentication.Models.UserModel
@{
	ViewData["Title"] = "Done";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<div class="h1 text-white">YOU ARE DONE!</div>
	</div>
</div>