@{
	ViewData["Title"] = "Done";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<div class="h1 text-white">Discord user already tied to this eve account.</div>
	</div>
</div>