@{
	ViewData["Title"] = "Done";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<div class="h1 text-white">Discord user already tied to another eve account do you want to change it?</div>
		<div class="list-inline">
			<a href="/Home/ReplaceUser" class="btn btn-primary">
				Yes
			</a>
			<a href="/Home/Done" class="btn btn-danger">
				No
			</a>
		</div>
	</div>
</div>