@{
	ViewData["Title"] = "Discord Login";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<a href="Discord/SignIn">
			<div class="rounded container-fluid" style="width: 200px; height:50px; background-color: #7289da;">
				<div class="h6 d-flex flex-column justify-content-center h-100 text-white">
					Login with discord
				</div>
			</div>
		</a>
	</div>
</div>