@{
	ViewData["Title"] = "Discord Login";
}

<div class="h-100 row align-items-center">
	<div class="col text-center">
		<a href="Discord/SignIn" class="btn btn-primary my-0" style="background-color: #7289da; width: 200px; height:50px;">
			<div class="h6 d-flex flex-column justify-content-center h-100" style="text-align: center;">
				Login with discord
			</div>
		</a>
	</div>
</div>